.fondoFP{
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background-color: #282828;
    display: flex;
}

.containerFP{
    margin: auto;
    padding: auto;
    background-color: #ffeb00;
}

.btnatras{
    background:#282828;
    background-color: #282828;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    border: none;
  }

  .btnatrasr{
    background: #0039a6;
    background-color: #0039a6;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
  }

  .h2{
    color: #282828;
  }