/*Luis Chavez Delgado 17460348*/
/*Maria Guadalupe Cedeño Llanos 17460080*/
/*Proyecto de Residencia*/

.fondomenu{
    width: 500%;
    min-height: 500vh;
    padding: 0 20px;
    background-color: #282828;
  }
  
  .contenedorusuario{
    margin: auto;
    padding: auto;
    background-color: #ffeb00;
  }
  
  .containermenu{
    display: flex;
    justify-content: center;
  }
  
  .containeruser  {
    position: relative;
    top: 5%;
  }
  
  .btnlogout {
    background: #ffeb00;
    background-color: #ffeb00;
    padding-left: 5px;
    padding-right: 5px;
  }