/*Luis Chavez Delgado 17460348*/
/*Maria Guadalupe Cedeño Llanos 17460080*/
/*Proyecto de Residencia*/

/*Para cambiar el color del  y su estructura */
.l{
    margin: auto;
    padding: auto;
    background-color: #ffeb00;
  }
  
/*Para cambiar el color del fondo y su estructura */
  .f{
    width: 150%;
    min-height: 150vh;
    padding: 0 20px;
    background-color: #282828;
    display: flex;
  }

  .btnatras{
    background: #0039a6;
    background-color: #0039a6;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
  }