/*Luis Chavez Delgado 17460348*/
/*Maria Guadalupe Cedeño Llanos 17460080*/
/*Proyecto de Residencia*/

.ff{
    width: 120%;
    min-height: 120vh;
    padding: 0 20px;
    background-color: #282828;
    display: flex;
  }
  
  .ll{
    margin: auto;
    padding: auto;
    background-color: #5eefb1;
  }
  